%div{ :style => 'float: right;' }
  = bracket_link link_to_remote('edit', :url => {:controller => 'dashboard', :action => 'edit_todays_tbs'})
%h2= 'Today: %.2f' % tbs.sum(&:elapsed_time)
%table
  %tr
    %th Hrs
    %th Start
    %th End
    %th Proj
    %th Task
    %th Notes
  - tbs.each do |tb|
    %tr
      %td{ :align => 'right' }=link_to(elapsed(tb.elapsed_time), edit_time_block_path(tb))
      %td=tb.start_time.try(:strftime, '%H:%M')
      %td=tb.end_time  .try(:strftime, '%H:%M')
      %td=tb.proj_name
      %td=tb.task_name
      %td=tb.notes
