%div{ :style => 'float: right;' }
  = bracket_link link_to_remote('edit', :url => {:controller => 'dashboard', :action => 'edit_todays_tbs'})
%strong='%s: %.2f' % @time_summaries[:today]
%br &nbsp;
%table
  %tr
    %th Start
    %th End
    %th
    %th Hrs
    %th
    %th
    %th Task
    %th Notes
  - tbs.each do |tb|
    %tr
      %td=tb.start_time.try(:strftime, '%H:%M')
      %td=tb.end_time  .try(:strftime, '%H:%M')
      %td &nbsp;
      %td=elapsed(tb.elapsed_time)
      %td &nbsp;
      %td=link_to('clock in', clock_in_task_path(tb.task), :method => :post)
      %td=[tb.proj_name, tb.task_name].reject(&:blank?).join(' / ')
      %td=tb.notes
