<% panel 'currently_working_on' do %>
  <h2>Currently Working On</h2>
  <% current_tb = TimeBlock.current.first %>
  <% if current_tb.blank? %>
    Nothing at the moment...
  <% else %>
    Something!
  <% end %>
<% end %>

<% panel 'active_tasks' do %>
  <h2>Active Tasks</h2>

<% end %>

<% panel 'bulk_task_entry' do %>
  <h2>Bulk Task Entry</h2>
<% end %>

<% content_for :sidebar do %>
  <% panel 'time_summary' do %>
    <h2>Hours Today: [todo]</h2>
    <% if false && client %>
      <h2>ONLY FOR: <%= client.name %></h2>
    <% end %>
    <br />
    This week: <strong><%#= sprintf '%.2f', time_summaries[:this_week] %></strong><br />
    <br />
    This month: <strong><%#= sprintf '%.2f', time_summaries[:this_month] %></strong><br />
    Last month: <strong><%#= sprintf '%.2f', time_summaries[:last_month] %></strong><br />
    <!-- Two months ago: <strong><%#= sprintf '%.2f', time_summaries[:two_months_ago] %></strong><br />
    Three months ago: <strong><%#= sprintf '%.2f', time_summaries[:three_months_ago] %></strong><br />
    Four months ago: <strong><%#= sprintf '%.2f', time_summaries[:four_months_ago] %></strong><br />
    Five months ago: <strong><%#= sprintf '%.2f', time_summaries[:five_months_ago] %></strong><br /> -->
  <% end %>

  <% panel 'todays_time_blocks' do %>

  <% end %>
<% end %>
