- panel 'currently_working_on' do
  = render :partial => 'current_tb', :object => @current_tb

- panel 'active_tasks' do
  = render :partial => 'active_tasks', :locals => { :current_task => @current_task }



- content_for :sidebar do
  - panel 'time_summaries' do
    = render  :partial => 'time_summaries',      |
              :object  => @time_summaries,       |
              :locals  => { :client => @client } |

  - panel 'todays_time_blocks' do
    = render :partial => 'todays_time_blocks_show', :locals => { :tbs => @todays_tbs }
