- panel 'todays_time_blocks' do
  = render :partial => 'todays_time_blocks_show', :locals => { :tbs => @todays_tbs }

- panel 'active_tasks' do
  = render :partial => 'active_tasks', :locals => { :current_task => @current_task }

- panel 'new_task_entry' do
  = render :partial => 'new_task_entry'
