body {
  background-color: #FFF;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

body {
  background-color: #4B7399;
}

#container {
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
  width: 70%;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.clear {
  clear: both;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

#user_nav {
  float: right;
  font-size: 12px;
  text-align: right;
}

#user_nav a {
  font-weight: bold;
}

td {
  vertical-align: top;
}

#app_title {
  float: left;
  font-size: 36px;
  font-weight: bold;
}

#app_title a {
  color: #4C4D9A;
  text-decoration: none;
}

#header {
  padding: 1ex;
  border: 1px solid #4C4D9A;
}

#page_content {
  margin-top: 1ex;
  border: 1px solid #4C4D9A;
  min-width: 800px;
}

#current_user_info {
  margin-bottom: 1ex;
}

#nav_links {
}

#sidebar {
  float: right;
  min-width: 200px;
  width: 30%;

  margin-right: 10px;
  margin-top: 8px;
/*  background-color: #ccc;*/
}

#main_content {
  padding: 8px;
  min-width: 565px;
  width: 67%;
/*  background-color: #fff;*/
}

.panel {
  margin: 0 0 1ex 0 !important;
  padding: 1ex;
  padding-top: 0;
  border: 1px solid #ccc;
}

.panel h2 {
  font-size: 16px;
}

.panel h3 {
  font-size: 13px;
}

.time_summary {
  margin: 0;
}

.time_summary .label {
  font-style: italic;
}

.time_summary .value {
  font-weight: bold;
}

form div {
  clear: left;
}

form div label {
  float: left;
  width: 8em;
}

.elapsed {
  font-size: smaller;
}

ul.tasks {
}

.expandable_control_links {
  font-size: 11px;
}

#todays_time_blocks th {
  text-align: left;
}

#todays_time_blocks table {
  font-size: 10px;
}

.bracket_link {
  font-size: 11px;
}

.clock_in a {
/*  color: #4C9A71;*/
}

.clock_out a {
  color: #4D9A4C;
  font-weight: bold;
}

a.subtle {
  color: #000;
  text-decoration: none;
  border-bottom: 1px dotted #984C9A;
}

