/*
From http://colorschemedesigner.com/ using #4B7399 as primary color and 'analogic' as scheme type:
  Primary Color:      4B7399  475D73  183F63  7EA6CC  93B0CC
  Secondary Color A:  5B57A4  52507B  211C6B  8C87D2  9E9BD2
  Secondary Color B:  479E7F  467765  17674B  79CFB0  90CFB8
*/

body {
  background-color: #FFF;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

pad-left  { padding-left:  1em; border-left: 1px solid red; }
pad-right { padding-right: 1em; border-left: 1px solid red; }

a img {
  border: none;
}

a {
  color: #211c6b;
  text-decoration: none;
}

body {
  background-color: #4B7399;
}

#container {
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
  width: 70%;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.clear {
  clear: both;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

#user_nav {
  float: right;
  font-size: 12px;
  text-align: right;
}

#user_nav a {
  font-weight: bold;
}

td {
  vertical-align: top;
}

#app_title {
  float: left;
  font-size: 36px;
  font-weight: bold;
}

#app_title a {
  color: #4C4D9A;
  text-decoration: none;
}

#header {
  padding: 1ex;
  border: 1px solid #4C4D9A;
}

#page_content {
  margin-top: 1ex;
  border: 1px solid #4C4D9A;
/*  min-width: 800px;*/
}

#current_user_info {
  margin-bottom: 1ex;
}

#nav_links {
  line-height: 150%;
}

#sidebar {
  float: right;
  min-width: 200px;
  width: 30%;

  margin-right: 10px;
  margin-top: 8px;
/*  background-color: #ccc;*/
}

#main_content {
  padding: 8px;
}

.panel {
  margin: 0 0 1ex 0 !important;
  padding: 1ex;
  padding-top: 0;
  border: 1px solid #ccc;
}

.panel h2 {
  font-size: 16px;
}

.panel h3 {
  font-size: 13px;
}

.time_summary {
  margin: 0;
}

.time_summary .label {
  font-style: italic;
}

.time_summary .value {
  font-weight: bold;
}

form div {
  clear: left;
}

form div label {
  float: left;
  width: 8em;
}

.elapsed {
  font-size: smaller;
}

ul.tasks {
}

ul.tasks li {
  line-height: 1.4em;
}

.expandable_control_links {
  font-size: 11px;
}

#active_tasks {
}

#todays_time_blocks {
}

#todays_time_blocks th {
  text-align: left;
}

#todays_time_blocks td {
  padding-right: 1ex;
}

#todays_time_blocks table {
  font-size: 10px;
}

.bracket_link {
  font-size: 11px;
  margin-right: 1em;
}

.clock_in a, .clock_out a {
  font-weight: bold;
}

.clock_in  a { color: #17674b }
.clock_out a { color: #5b57a4 }

a.subtle {
  color: #000;
  text-decoration: none;
  border-bottom: 1px dotted #984C9A;
}

table.report th.section {
  padding-top: 1em;
}
table.report th {
  border-bottom: 1px solid #000;
  padding-right: 1em;
  text-align: left;
}

table.report td ul {
  margin: 0;
}

a.current_task {
  color: #17674b;
  font-weight: bold;
}

.danger {
  color: red;
}
