%div
  %label{ :for => 'project_client_id' } Client
  = f.select :client_id, Client.active.map { |e| [e.name, e.id] }

%div
  %label{ :for => 'project_name' } Name
  = f.text_field :name

%div
  %label{ :for => 'short_name' } Short Name
  = f.text_field :short_name

%div
  %label{ :for => 'project_active' } Active
  = f.check_box :active
