%table{ :cellspacing => 0, :class => 'report' }
  - @days_and_tbs.each do |day, tbs|
    %tr
      %th{ :colspan => 10, :align => 'left', :class => 'section' }
        = day
        %br
        = 'Total Hours: ' + elapsed(tbs.sum(&:elapsed_time))
    %tr
      %th Elapsed
      %th Project
      %th Task
    - tbs.group_by(&:task).each do |task, tbs|
      %tr
        %td=elapsed(tbs.sum(&:elapsed_time))
        %td=task.project_name
        %td
          =task.name
          - unless (notes = tbs.map(&:notes_with_elapsed).reject{ |e| e.first.blank? }).empty?
            %ul
              - notes.each do |note, elapsed|
                %li='<strong>%.2f</strong> - %s' % [elapsed, note]
